@import url(reset.css);
/* Personal configuration start */

body {
    display: flex;
    flex-direction: column;
    background-color: black;
    opacity: calc(0.9);
    color: #fff;
    align-items: center;
}

header {
    display: flex;
    background-color: #fff;
    color: #383535;
    width: 98%;
    height: 80px;
    align-items: center;
    justify-content: center;
    
}
.nav {
    display: flex;
    background-color: #fff;
    width: 96%;
    height: 45px;
    align-items: center;
    justify-content: center;
}
.ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
}
/* Main banner start */
/* div/img/banner */
.main-banner {
    display: flex;
    background-image: url(imgs/banner/banner-01.jpg);
    width: 100%;
    height: 520px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-banner h3 {
    font-size: 70px;
    font-family: 'Candal', sans-serif;
    font-weight: bolder;
}

.main-banner p {
    font-size: 30px;
}

#btn-find-rv {
    width: 150px;
    height: 50px;
    background-color: #E0C015;
    border: none;
    margin-top: 30px;
}
/* <!-- Main banner end--> */

/* Search content start */
.search-content {
    display: flex;
    background-color: #fff;
    width: 98%;
    height: 519px;
    justify-content: space-around;
    align-items: center;
}

.image-one, .image-two, .image-three {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 438px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-image: url(imgs/bast-ways/best-way01.jpg);
    font-family: "Candal", sans-serif;
    font-size: 18px;
    align-items: center;
    justify-content: end;
}
.image-two {
    background-image: url(imgs/bast-ways/best-way02.jpg);
}
.image-three {
    background-image: url(imgs/bast-ways/best-way03.jpg);
}
#btn-explore {
    width: 150px;
    height: 50px;
    background-color: #E0C015;
    color: #fff;
}
#btn-search {
    width: 150px;
    height: 50px;
    background-color: #E0C015;
    color: #fff;
}
#btn-explore-rvs {
    width: 150px;
    height: 50px;
    background-color: #E0C015;
    color: #fff;
}
.content-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    color: black;
    width: 378px;
    height: 517px;
}
.content-content h2 {
    font-size: 40px;
    font-family: "Candal", sans-serif;
    font-weight: bolder;
    padding-bottom: 30px;
}
.content-content h3 {
    font-size: 18px;
    font-family: "Candal", sans-serif;
    color: #E0C015;
    padding-bottom: 20px;
}
.content-content p {
    font-size: 14px;
    font-family: "Candal", sans-serif;
}
/* Search content end */

/* Secundary banner start */
.secundary-banner {
    display: flex;
    background-color: gray;
    width: 100%;
    height: 570px;
    background-image: url(imgs/banner/tall-pines.jpg);
    align-items: center;

}
.aside-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 430px;
    height: 570px;
}
#btn-search-two {
    width: 150px;
    height: 50px;
    background-color: #E0C015;
    color: #fff;
    margin-left: 20%;
}
/* Secundary banner end */

/* footer start */
.image-footer {
    display: flex;
    background-image: url(imgs/footer/pine-shedows.png);
    background-color: #fff;
    width: 98%;
    height: 570px;
}

.content-footer {
    display: flex;
    background-color: black;
    color: #fff;
    width: 100%;
    height: 218px;
}

/* #a-footer {
    display: flex;
    align-items: center;
} */
.a-icons {
    display: flex;
    align-items: center;
    margin-left: 40%;
    margin-top: 10%;
}
#face {
    width: 40px;
    height: 40px;
}
#insta {
    width: 40px;
    height: 40px;
}
#pinterest {
    width: 40px;
    height: 40px;
}
#twitter {
    width: 40px;
    height: 40px;
}
#youtube {
    width: 40px;
    height: 40px;
}
/* footer end */
/* personal configuration end*/

/* Additional */

a {
    text-decoration: none; /*All lines in the links will be stripped*/
}

/* Additional */